LIST TASKS

In [ ]:
#1. Inventory System
#i. Add two new products
products = ["pencil", "notebook", "eraser", "marker"]
products.append("sharpener")
products.append("tape")
print(products)

['pencil', 'notebook', 'eraser', 'marker', 'sharpener', 'tape']

In [4]:
#ii. Insert product at position 2
products.insert(2, "highlighter")
print(products)

['pencil', 'notebook', 'highlighter', 'eraser', 'marker', 'sharpener', 'tape']

In [30]:
#iii. Why list is appropriate?
## A list is appropriate because:
# - Items can change (add/remove/update)
# - Order matters
# - Inventory grows or shrinks
# - Lists allow fast indexing and modification

In [ ]:
#2. Data Slicing & Indexing
#i. First, last, second-to-last
temps = [23, 25, 19, 30, 21, 22]
print(temps[0])   # first
print(temps[-1])  # last
print(temps[-2])  # second-to-last

23
22
21

In [ ]:
#ii. Middle four values
print(temps[1:5])   # 25, 19, 30, 21

[25, 19, 30, 21]

In [ ]:
#iii. Get “21” using negative indexing
print(temps[-2])

21

In [ ]:
#3. Nested Lists & Heterogeneous Data
#iii. Create 3 students
students = [
    ["Ali", 101, [80, 90, 85]],
    ["Sara", 102, [75, 88, 92]],
    ["John", 103, [60, 70, 65]]
]
print(students)

[['Ali', 101, [80, 90, 85]], ['Sara', 102, [75, 88, 92]], ['John', 103, [60, 70, 65]]]

In [ ]:
#iii. Change one student’s second grade
students[1][2][1] = 95   
print(students)

[['Ali', 101, [80, 90, 85]], ['Sara', 102, [75, 95, 92]], ['John', 103, [60, 70, 65]]]

In [ ]:
#iii. Add a fourth grade
students[0][2].append(88)   
print(students)

[['Ali', 101, [80, 90, 85, 88]], ['Sara', 102, [75, 95, 92]], ['John', 103, [60, 70, 65]]]

In [12]:
#4. List Mutator Methods
colours = ["red", "green", "blue"]

In [ ]:
#i. append
colours.append("yellow")

In [ ]:
#ii. extend
colours.extend(["purple", "orange"])

In [ ]:
#iii. insert
colours.insert(1, "black")

In [ ]:
#iv. remove
colours.remove("green")

In [ ]:
#v. pop and print
removed = colours.pop()
print("Popped:", removed)

Popped: orange

In [ ]:
#vi. Final list
print(colours)

['red', 'black', 'blue', 'yellow', 'purple']

In [19]:
#5. Operators & Built-ins
numbers = [5, 10, 15, 20]

In [ ]:
#i. Check if 15 in list
print(15 in numbers)

True

In [ ]:
#ii. Concatenate
numbers = numbers + [25, 30]
print(numbers)

[5, 10, 15, 20, 25, 30]

In [ ]:
#iii. Repeat list
print(numbers * 2)

[5, 10, 15, 20, 25, 30, 5, 10, 15, 20, 25, 30]

In [ ]:
#iv. Built-ins
print(len(numbers))
print(min(numbers))
print(max(numbers))
print(sum(numbers))

6
5
30
105

In [24]:
#6. List Comprehension & Conversion
values = (2, 4, 6, 8, 10)

In [ ]:
#i. Convert tuple → list
val_list = list(values)
print(val_list)

[2, 4, 6, 8, 10]

In [ ]:
#ii. Square each value
squared = [x*x for x in val_list]
print(squared)

[4, 16, 36, 64, 100]

In [ ]:
#iii. Filter > 30
filtered = [x for x in squared if x > 30]
print(filtered)

[36, 64, 100]

Tuple tasks

In [31]:
#1. Device Configuration (Fixed)
device = ("device01", "192.168.1.10", 8080, True)

In [ ]:
#i. Access each by index
print(device[0])
print(device[1])
print(device[2])
print(device[3])

device01
192.168.1.10
8080
True

In [ ]:
#ii. Attempt to change port
try:
    device[2] = 9090
except TypeError as e:
    print("Error:", e)

Error: 'tuple' object does not support item assignment

In [ ]:
#iii. Convert → modify → back to tuple
dev_list = list(device)
dev_list[2] = 9090
device = tuple(dev_list)
print(device)

('device01', '192.168.1.10', 9090, True)

In [ ]:
#2. Creating Tuples & Single-Element Nuance
#i. Single element
single = (5,)
print(single)

(5,)

In [ ]:
#ii. Not a tuple
not_tuple = (5)
print(type(not_tuple))   # int

<class 'int'>

In [ ]:
#iii. Tuple from range
t = tuple(range(5))
print(t)

(0, 1, 2, 3, 4)

In [38]:
#3. Indexing, Slicing, Negative Indices
weekdays = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")

In [ ]:
#i. First and last
print(weekdays[0])
print(weekdays[-1])

Mon
Sun

In [ ]:
#ii. Slice "Wed", "Thu", "Fri"
print(weekdays[2:5])

('Wed', 'Thu', 'Fri')

In [ ]:
#iii. Negative indexing “Sat”
print(weekdays[-2])

Sat

In [42]:
#4. Nested Tuples & Mutable Elements
data = ("UserA", (2023, 9, 15), ["task1", "task2"])

In [ ]:
#i. Access date
date = data[1]
print(date[0], date[1], date[2])

2023 9 15

In [ ]:
#ii. Modify list inside tuple
data[2].append("task3")
print(data)

# Explanation: tuple is immutable BUT it can contain mutable items (lists).
# The list inside tuple can be changed because the tuple stores a reference.

('UserA', (2023, 9, 15), ['task1', 'task2', 'task3'])

In [45]:
#5. Packing & Unpacking
point = (10, 20, 30)

In [ ]:
#i. Unpack
x, y, z = point
print(x, y, z)

10 20 30

In [ ]:
#ii. Swap x and z
x, z = z, x

In [ ]:
#iii. Pack back
point2 = (x, y, z)
print(point)
print(point2)

(10, 20, 30)
(30, 20, 10)

In [ ]:
#6. Tuple vs List (Months)
#i. Define
months = ("Jan", "Feb", "Mar", "Apr", "May")

In [ ]:
#ii. Why tuple?
# Tuple is better because:
# - Months do NOT change
# - Fixed data → immutability is safer

In [ ]:
#iii. Try to append
try:
    months.append("NewMonth")
except AttributeError as e:
    print("Error:", e)

Error: 'tuple' object has no attribute 'append'

In [ ]:
#iv. Convert to list
months_list = list(months)
months_list.append("June")
print(months_list)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June']

In [2]:
#7. Tuple Operators & Built-ins
nums = (3, 6, 9, 12)

In [3]:
#i. in / not in
print(6 in nums)
print(15 not in nums)

True
True

In [4]:
#ii. Concatenate
print(nums + (15, 18))

(3, 6, 9, 12, 15, 18)

In [59]:
#iii. Multiply
print(nums * 3)

(3, 6, 9, 12, 3, 6, 9, 12, 3, 6, 9, 12)

In [5]:
#iv. Built-ins
print(len(nums))
print(min(nums))
print(max(nums))
print(sum(nums))

4
3
12
30